*{
	margin: 0px;
	padding: 0px;
}
.header{
	width: 1000px;
	height: 160px;
	margin: 0 auto;
	border: 0px solid white;
}

.header .logo{
	margin-top: 41px;
	margin-left: 21px;
	margin-bottom: 37px;
	float: left;
}
.header .search{
	float:right;
	margin-right: 19px;
	margin-top: 39px;
}
.header .nav{
	height:61px;
	background-color:#303030;
}

.header .nav ul li{
	list-style:none;
	height: 60px;
	float: left;
	width: 104px;
	margin-left: 20px;
	border-right: 1px solid #4a4a4a;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.header .nav ul li:hover{
	background: #f00;
}
.banner{
	width: 1000px;
	height: 463px;
	margin: 0 auto;

}
.container{
	 margin:0 auto;
	 width:1000px;
	 height:547px;
	 border: 0px solid white;
}
.container .c-top{
	height: 240px;
	border: 0px solid white;
}
.container .c-top .c-t-left{
	width: 500px;
	height: 240px;
	float: left;
	
}
.container .c-top .c-t-left h3{
	margin-top: 37px;
	margin-left: 22px;
	font-size: 18px;
	margin-bottom: 29px;

}
.container .c-top .c-t-left  .myc1{
	margin-left: 22px;
	font-size: 13px;
	line-height: 25px;
	color: #515151;
	float: left;
}
.container .c-top .c-t-left .myc2{
	font-size: 13px;
	line-height: 25px;
	color: #515151;
	float: right;
	list-style: none;
	margin-right: 29px
}

.container .c-top .c-t-center{
	width: 240px;
	height: 240px;
	float: left;
	background: #f1f1f1;
}
.container .c-top .c-t-center h3{
	margin-left: 25px;
	margin-bottom: 40px;
	margin-top:36px; 
	font-size: 18px;
}
.container .c-top .c-t-center .p1{
	font-size: 16px;
	margin-left: 25px;
}
.container .c-top .c-t-center .p2{
	font-size: 14px;
	margin-left: 25px;
	margin-right: 25px;
	color: #bcbcbc;
	margin-top: 27px;
}
.container .c-top .c-t-right{
	width: 260px;
	height: 240px;
	float: right;
	background: #fbfbfb;
}
.container .c-top .c-t-right h3{
	margin-top: 37px;
	margin-left: 25px;
	font-size: 18px;
}
.container .c-top .c-t-right p{
	margin-left: 25px;
	margin-right: 55px;
    margin-top: 27px;
    color: #515151;
}
.container .c-top .c-t-right img{
	height: 80px;
}
.container .c-bottom {
	height: 305px;
	margin-top: 29px;	
}
.container .c-bottom  h3{
	margin-left: 22px;

	font-size: 18px;
	overflow: hidden;
}
.container .c-bottom .c-b-piclist{
	margin-top: 18px;
	width: 1000px;
	height: 240px;
}
.c-b-p-1{
	float: left;
	text-align: 20px;
    margin-top: 19px;
	list-style: none;
	font-size: 14px;
	margin-left: 20px;
	width: 210px;
}
.c-b-p-2{
	float: left;
	margin-left: 40px;
    width: 210px; 
	margin-top: 19px;
	list-style: none;
	font-size: 14px;
}
.c-b-p-3{
	float: left;
	margin-top: 19px;
	list-style: none;
	font-size: 14px;
	margin-left: 40px;
    width: 210px;
}
.c-b-p-4{
	float: right;
    width: 210px;
    text-align: 20px;
	margin-top: 19px;
	list-style: none;
	font-size: 14px;
	margin-right: 20px;
}
.footer{
	margin: 0 auto;
	width: 999px;
	height: 249px;
	border: 0px solid white;
	background: #e5e5e5;
}
.footer .f-left{
	float: left;
	width: 448px;
	height: 248px;
}
.footer .f-left h3{
	margin-top: 31px;
	margin-left: 31px;
	font-size: 18px;
	color: #616161;
}
.footer .f-left .f-l-lists{
	border-top: 2px solid #c1c1c1;
	margin-top: 11px;
	width: 400px;
	margin-left: 20px;
}
.footer .f-left .f-l-lists .list1{
	list-style:none;
	float: left;
	margin-left: 26px;
	margin-top: 22px;
	margin-bottom: 60px;
	font-size: 14px;
	color: #616161;
	line-height: 25px;
}
.footer .f-left .f-l-lists .list2{
	list-style:none;
	float: left;
	margin-left: 20px;
	margin-top: 22px;
	font-size: 14px;
	margin-bottom: 85px;
	color: #616161;
	line-height: 25px;
}
.footer .f-left .f-l-lists .list3{
	list-style:none;
	float: right;
	margin-right: 20px;
	margin-top: 22px;
	margin-bottom: 85px;
	font-size: 14px;
	color: #616161;
	line-height: 25px;
}
.footer .f-center{
	float: left;
	width: 150px;
	height: 248px;
	margin-left: 50px;
}
.footer .f-center h3{
	margin-top: 31px;
	margin-left: 12px;
	font-size: 18px;
	color: #616161;
}
.footer .f-center .f-c-lists{
	border-top: 2px solid #c1c1c1;
	margin-top: 11px;
}
.footer .f-center .f-c-lists .list4{	
	list-style:none;
	margin-left: 10px;
	margin-top: 22px;
	font-size: 14px;
	color: #616161;
	line-height: 25px;

}
.footer .f-right{
	float: right;
	width: 250px;
	height: 248px;
	margin-left: 50px;
	margin-right: 18px;
}
.footer .f-right h3{
	margin-top: 31px;
	margin-left: 12px;
	font-size: 18px;
	color: #616161;
}
.footer .f-right .f-r-lists{
	border-top: 2px solid #c1c1c1;
	margin-top: 11px;
}
.footer .f-right img{
	margin-top: 15px;
	margin-left: 30px;
}
.clear{
	clear: both;
}
.bottom{
	height: 81px;
	width: 999px;
	border: 0px solid white;
}
.bottom ul li{
	list-style: none;
	color: #868686;
	float: left;
	font-size: 10px;
	margin-top: 23px;
	margin-right: 10px;
	margin-left: 10px;
}
.bottom img{
	float: right;
	margin-right: 18px;
	margin-top: 23px;
}
